<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/middle_page.css">

    <title>Asymmetry 2</title>
</head>

<body>

    <main>
        <div class="panel welcome">
            <nav>
                <a href="#">Home</a>
                <a href="#">Portfolio</a>
                <a href="#">Contact</a>
            </nav>

            <div>
                <h1>Trail Mapper</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolor quis numquam id, dicta
                    adipisci eligendi totam natus perferendis aliquid voluptatibus fugit! Perferendis eveniet recusandae
                    est quisquam quia maiores illum!</p>
            </div>
            <footer>
                <p>Footer Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
            </footer>
        </div>

        <div class="panel about">
            <img src="../public/images/man.jpg" alt="man-img">

            <div class="text">
                <h2>About Me</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis at ab sit necessitatibus maiores,
                    minus
                    ipsum eius. Atque, modi sunt?</p>
            </div>
        </div>

        <div class="panel photos">
            <div class="text">
                <h2>Photography</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis, porro distinctio. Porro repellat
                    voluptate nam tenetur, neque nulla ab earum sapiente eos non recusandae harum adipisci eligendi
                    mollitia animi ipsam?</p>
            </div>
            <img src="static/forest.jpg" alt="forest-img">
        </div>


    </main>

</body>

</html>